<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">Users: <span class="text-success font-weight-bolder" *ngIf="userCountNum">{{userDetailArr.length}}</span><span class="text-success font-weight-bolder spinner-border spinner-border-sm text-primary"  *ngIf="!userCountNum"></span></div>
  </div>
  <div class="card-body mb-5">

      <div class="card-group" *ngFor = "let users of userDetailArr">
          <div class="card h-100">
            <div class="card-header">
              User Details
            </div>
            <div class="card-body p-1">
              <p><span class="font-weight-bold">Username:</span><br> <span>{{users.username}}</span></p>
              <p><span class="font-weight-bold">IP Addr:</span><br><span class="text-danger">{{users.ip}}</span></p>
            </div>
          </div>
      </div>

  </div>
</div>
