<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">Users: {{userDetailArr.length}}</div>
  </div>
  <div class="card-body">
    <div class="card-deck">

      <div class="row">

        <div class="card h-100 p-1" style="width: 10rem;" *ngFor = "let users of userDetailArr">
          <div class="card-header">
            User Details
          </div>
          <div class="card-body p-1">
            <p><span class="font-weight-bold">Username:</span><br> <span>{{users.username}}</span></p>
            <p><span class="font-weight-bold">IP Addr:</span><br><span [ngClass]="users.ip === null ? 'text-success' : 'text-danger'">{{users.ip === null ? 'Secure' : users.ip}}</span></p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
