<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">
      About Math-Game Website:
    </div>
    <div class="card-body">
      <ul style="list-style-type: circle;">
        <li>Those who played 'TWICE': NOOB</li>
        <li>Those who got-it at 'First-Instance': READ THE ABOVE SENTENCE</li>
        <li>THOSE who played more than 'TWICE': I'm YOU</li>
        <li>YOU is available @ <span><a href="https://www.linkedin.com/in/abhinav-singirthi-158664148/" target="_blank">LinkedIn</a></span><span class="ml-2"><a href="mailto:singirthi.abhinav1@gmail.com">Gmail</a></span></li>
      </ul>
    </div>
  </div>
</div>
